
input:invalid ~ span:after {
  content: '✖';
  padding-left: 5px;
  position: absolute;
}

input:valid ~ span:after {
  content: '✓';
  padding-left: 5px;
  position: absolute
}



h1
{
	color: red
}


h1
{
	text-align: center;
}
h2
{
	text-align: center;
}



.rectangle
{
	width:400px;
	lenght:180px
	height:200px;
	background:#068;
	background-color: grey

}

h2
{
	color: black

}


body
{
	background-image:url(https://img.freepik.com/vecteurs-libre/abstrait-grunge-jaune-vif_1055-8116.jpg?size=626&ext=jpg);
}


.rond{
	width:200px;
	height:200px;
	background:#069;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	-o-border-radius:100px;
	border-radius:100px;
	text-align: center;
	background-color: blue;
}


.rond{
	width:200px;
	height:200px;
	background:#069;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	-o-border-radius:100px;
	border-radius:100px;
	text-align: center;
	background-color: blue;
}

.rond{
	width:200px;
	height:200px;
	background:#069;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	-o-border-radius:100px;
	border-radius:100px;
	text-align: center;
	background-color: blue;
}